.add {
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.add:hover {
  color:white;
  background-color: #cbf078;
}

.back {
  border: 2px solid #e7e7e7;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.back:hover {
  color:white;
  background-color: #de5353;
}