.dnu {
  color: gray;
  font-size: 12px;
}

.mablock {
  display: inline-block;
  border: 2px solid #b4b7d1;
  margin-top: 50px;
  background-color: #f3f5f7;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.mablock:hover {
  background-color: #d7dcf8;
}

.sblock {
  border: 2px solid #f3f5f7;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #f3f5f7;

  display: inline-block;
}

.sblock:hover {
  background-color: #d7dcf8;
  border: 2px solid #d7dcf8;
}

.rmvbtn {
  background-color: #a2a8d3;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 3px 10px;
  cursor: pointer;
  display: inline-block;
}
.rmvbtn:hover {
  background-color: #f95959;
  color: white;
}
